.App {
  text-align: center;
  font-family: museo-sans, sans-serif;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: linear-gradient(
    to bottom, 
    rgba(7 ,27, 82, 100%),
    rgba(40,44,52,100%)
  )
}

.App-link {
  color: #09d3ac;
}

.searchBox {
  padding: 10px;
  margin-bottom: 20px;
  font-family: museo, Sans;
  font-size: 0.8em;
}


